@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

body.dark-mode {
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(209, 209, 209);
  color: #111314;

}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #111314;
  color: rgb(209, 209, 209);
}

h1 {
  color: rgb(72, 197, 219);
  text-align: center;
  font-size: 42px;
  line-height: 0.7;
}

.subtitle {
  color: rgb(146, 146, 146);
  text-align: center;
  line-height: 0.5;
}

.contentbox {
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
}

.divider {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(105, 105, 105);
}

strong {
  color: rgb(72, 197, 219);
}

.cb_content {
  width: 50%;
  word-wrap: break-word;
  white-space: normal;
}

.cb_content_header {
  color: rgb(216, 62, 134);
  line-height: 0.5;
}

.note {
  line-height: 2;
  text-decoration: none;
}

code {
  background-color: #33333396;
  font-size: 14px;
  padding: 3px 3px 3px 3px;
  border-radius: 3px;
  color: rgb(72, 223, 130)
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(43, 161, 141);
}

a:visited {
  color: rgb(219, 177, 61);
}

a:hover {
  color: rgba(219, 177, 61, 0.747);
}

a:active {
  color: rgb(43, 161, 88);
}